/* Hub box list */
.hub-box-list {
    @extend .cta-list;

    .hub-box {
        @extend .cta;

        display: block;
        width: 100%;
        border-bottom: 8px solid $grey-7;
        margin-top: $gutter * 2;
        margin-bottom: 0;
        background-color: $col-15;

        &:first-child {
            margin-top: 0;
        }

        &__contents {
            margin-top: 0;
            padding: 20px;
        }

        &__image {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            background: $col-tertiary;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__title {
            @extend .cta__title;
        }

        &__text {
            margin-top: $gutter;
        }

        &__links {
            &-title {
                @include bold-font(16);
            }

            &-list {
                margin: 0;
                padding: 0 0 0 18px;

                li {
                    padding-bottom: 0;
                    
                    &:not(:first-child) {
                        margin-top: $gutter * 0.5;
                    }
                }
            }

            &-anchor {
                @include core-font(16);
            }
        }

        &__meta {
            @extend .cta__meta;
        }

        .cta__label {
            margin-bottom: 12px;
        }

        .tag-list {
            display: block;
            margin-top: $gutter;
        }

        &--with-icon {
            @include clearfix;

            .hub-box__contents {
                margin-top: 0;
            }

            .hub-box__icon {
                padding: 20px 0 20px 20px;

                &-img {
                    object-fit: cover;
                    display: inline;
                }
            }

            &:first-child {
                display: block;

                .hub-box__icon {
                    width: 100%;
                    padding: 0;
                }
            }

            &:not(:first-child) {
                .hub-box__icon {
                    float: left;
                    width: 25%;
                }

                .hub-box__contents {
                    float: left;
                    width: 75%;
                }
            }
        }

        @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
            border-width: 12px;

            &--with-icon {
                &:not(:first-child) {
                    .hub-box__icon,
                    .hub-box__contents {
                        display: block;
                        width: 100%;
                        float: none;
                    }
                }

                .hub-box__icon {
                    padding: 0;
                }
            }
        }
    }

    &--grid {

        &-row {
            display: inline-block;
            width: 100%;

            &:first-child {
                margin-top: $gutter;
                margin-bottom: -10px;
            }

            .hub-box--cyber-alert {
                width: 100%;
                float: left;
                margin: 0;
                padding: 10px 0;
                border-bottom: 0;
                background: transparent;

                .hub-box__contents {
                    min-height: 130px;
                }

                .hub-box__title {
                    font-size: 25px;
                    line-height: 28pt;

                    a {
                        color: white;
                    }
                }

                .tag {
                    background: transparent;
                    color: white;
                    padding: 0 20px 0 0;
                    margin: 0;
                    font-size: 14px;
                    line-height: 20pt;

                    @include media($min-width: $min-tablet-width, $ignore-for-ie: true) {
                        padding: 0;
                        &--right {
                            float: right;
                        }
                    }
                }

                @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
                    padding-right: 20px;

                    &:last-child {
                        padding-right: 0;
                    }
                }

                .hub-box--red {
                    background-color: $col-critical-background;
                }

                .hub-box--blue {
                    background-color: $nhs-blue;
                }

                .hub-box--grey {
                    background-color: $grey-2;
                }
            }

            @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
                &:first-child {
                    margin-bottom: 0;
                }

                .hub-box--col-2 {
                    width: 50%;
                }

                .hub-box--col-3 {
                    width: 33.3%;
                }
            }
        }
    }
}
